.code-box{
    width: 33vw;
    height: 33vh;
    margin: 1rem;
    padding: 10px;
    background-color: #424141;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (max-width: 480px) {
    .code-box{
        width: 90vw;
        margin: 1rem auto;
    }
}
.code-box-first-line{
    display: flex;
    align-items: center;
}
.code-box-first-line-title{
    margin-left: 10px;
}
