.App {
  /* text-align: center; */
  height: 100vh;
}
.title {
  border-bottom: 1px solid black;
}
.in-title {
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.nav {
  margin: 10px;
}
.nav > a {
  margin-right: 10px;
}
